.image-container {
  position: relative;
  /* width: 100%;
  height:auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  object-fit: contain;
  /* height: 100%; */
  /* width: auto; */
  /* width: 100%; */
  /* height:auto; */
}

.imageauto {
  object-fit: contain;
  /* height: auto;
  width: auto; */
}

/* .right .wordmark {
  margin-left: 8px;
}

.left .wordmark {
  margin-right: 8px;
} */

.under {
  flex-direction: column;
}

.under .wordmark {
  margin-top: 8px;
}