.table {
  /* border-width: 1px; */
  border-radius: 4px;
  /* border-color: light-dark(var(--mantine-color-metal-1), var(--mantine-color-dark-8)); */
  border: 1px solid light-dark(var(--mantine-color-metal-1), var(--mantine-color-dark-4));
  
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  color: light-dark(var(--mantine-color-metal-9), var(--mantine-color-dark-0));
}




.header {
  /* Common header styles */
  padding: 12px;
  font-size: var(--mantine-font-size-md);
  font-weight: 500;
  /* border-bottom-width: 1px; */
  border-bottom: 1px solid light-dark(var(--mantine-color-metal-1), var(--mantine-color-dark-4));
  background-color: light-dark(var(--mantine-color-metal-0), var(--mantine-color-dark-8));
}

.miniheader {
  /* Common header styles */
  border-bottom-width: 1px;
  border-bottom:light-dark(var(--mantine-color-metal-1), var(--mantine-color-dark-4));
  font-size: var(--mantine-font-size-sm);
  font-weight: 400;
}

.minirow {
  height: 70px;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  border-bottom-width: 1px;
  font-size: var(--mantine-font-size-md);
}

.minirow:hover {
  background-color: light-dark(var(--mantine-color-metal-0), var(--mantine-color-dark-6));
  cursor: pointer;
}
.row {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  font-size: var(--mantine-font-size-md);
  border-bottom: 1px solid light-dark(var(--mantine-color-metal-1), var(--mantine-color-dark-4));
  
  /* border-bottom-width: 1px; */
  /* border-color: light-dark(var(--mantine-color-metal-1), var(--mantine-color-dark-8)); */

  
  
}

.row:hover {
  background-color: light-dark(var(--mantine-color-metal-0), var(--mantine-color-dark-6));
  cursor: pointer;
}

.container {
  border-width: 1px;
  border-color: light-dark(var(--mantine-color-metal-1), var(--mantine-color-dark-5));
  
}

.item:hover {
  background-color: light-dark(var(--mantine-color-metal-0), var(--mantine-color-dark-5));
}