.item {
  cursor: pointer;
  background-color: white;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.item:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
  transform: translateY(-2px);
}