.container {
    border-width: 1px;
    border-color: light-dark(var(--mantine-color-metal-1), var(--mantine-color-dark-5));
}

.item:hover {
    background-color: light-dark(var(--mantine-color-metal-0), var(--mantine-color-dark-5));
}

.invoiced {
    background-color: light-dark(var(--mantine-color-metal-6), var(--mantine-color-dark-2));
    color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-blue-2));
}

.paid {
    background-color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-6));
    color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-blue-2));
}

.pending {
    background-color: light-dark(var(--mantine-color-purple-4), var(--mantine-color-purple-5));
    color: light-dark(var(--mantine-color-purple-7), var(--mantine-color-purple-2));
}

.overdue {
    background-color: light-dark(var(--mantine-color-red-4), var(--mantine-color-red-5));
    color: light-dark(var(--mantine-color-red-8), var(--mantine-color-red-1));
}



