.container {
  border-width: 1px;
  border-color: light-dark(var(--mantine-color-metal-1),
      var(--mantine-color-dark-5));
}


/* .main {
  background: linear-gradient(to top, #f7f7f780, #ffffff);
  
} */

.iconWrapper {
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.iconWrapper:hover {
  background-color: light-dark(var(--mantine-color-metal-0),
      var(--mantine-color-dark-5));
  /* Change background on hover */
  transform: scale(1.1);
  /* Slightly scale the icon on hover */
}

.iconWrapper.active {
  /* New style for active state */
  background-color: light-dark(var(--mantine-color-metal-1),
      var(--mantine-color-dark-4));
  /* Change background color when pressed */
  transform: scale(1.1);
  /* Slightly scale down the icon when pressed */
}