/* segmented_control.module.css */

.root {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
}


.indicatorMain {
  background-color: light-dark(
    var(--mantine-color-blue-6),
    var(--mantine-color-blue-6)
  );
}

.labelMain {
  color: light-dark(var(--mantine-color-metal-4), var(--mantine-color-dark-1));
}

.labelMain:hover {
  color: light-dark(var(--mantine-color-blue-6), var(--mantine-color-blue-6));
}

.labelMain[data-active] {
  color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-0));
}


.indicatorSecondary {
  background-color: light-dark(
    var(--mantine-color-metal-2),
    var(--mantine-color-dark-3)
  ); /* Adjust for secondary indicator */
}

.labelSecondary {
  color: light-dark(var(--mantine-color-metal-4), var(--mantine-color-dark-2));
}

.labelSecondary:hover {
  color: light-dark(var(--mantine-color-metal-9), var(--mantine-color-dark-0));
}

.labelSecondary[data-active] {
  color: light-dark(var(--mantine-color-metal-9), var(--mantine-color-dark-0));
}
