.item {
    background-color: transparent;
    /* color: light-dark(var(--mantine-color-blue-8), var(--mantine-color-blue-3)); */
}

.item:hover {
    background-color: light-dark(
      var(--mantine-color-metal-0),
      var(--mantine-color-dark-5)
    );
  }

.active {
    color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-white));
}

.label:hover {
    color: light-dark(var(--mantine-color-metal-9), var(--mantine-color-dark-0));
}

.inactive {
    color: light-dark(var(--mantine-color-metal-9), var(--mantine-color-dark-2));
}

.inactive:hover {
    color: light-dark(var(--mantine-color-metal-9), var(--mantine-color-dark-0));
}
